@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html{
    font-size: 62.5%;  /* 1rem = 10px */
}

.text-center{
    text-align: center;
}
.main{
    background: url(assets/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 74vh;
    width: 100vw;

    & nav{
        
        position: relative;
        z-index: 7;
        padding-top: 0.9%;
        width: 62%;
        height: auto;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        

        & .logo{
            width: 40%;

            & img{
                width: 32%;
            }
        }
    }

    & .btns-nav{
        & .btn-english{
            margin-right: 1rem;
            color: white;
            border: none;
            border: 1px solid white;
            background-color: gray;
            padding: 0.6rem 3.7rem;
            background-color: rgb(23, 19, 17);
            font-size: 1.4rem;
            font-weight: 400;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
        }
    
         & .btn-signin{
            font-size: 1.3rem;
            font-weight: 500;
            padding: 0.7rem 1.6rem;
            border: none;
            cursor: pointer;
        }
    }
}

& .box{
    width: 100vw;
    height: 74vh;
    position: absolute;
    top: 0;
    background-color: black;
    opacity: 0.7;
}

.btn{
    color: white;
    background-color: rgb(230, 9, 20);
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.hero{
    width: 100vw;
    height: 74vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    position: relative;
    z-index: 3;

    & > :first-child{
        font-size: 4.6rem;
        font-weight: 800;
    }
    & > :nth-child(2){
        padding-top: 1.5rem;
        padding-bottom: 2rem;
        font-size: 2.3rem;
        font-weight: 300;
    }
    & > :nth-child(3){
        padding-bottom: 1rem;
        font-size: 1.9rem;
        font-weight: 300;
    }
}

.main-input{
    display: flex;
    justify-content: center;
    align-items: center;

    & .btn-getstarted{
        font-size: 2.3rem;
        font-weight: 500;
        padding: 1rem 2.5rem;
    
        & img{
            margin-bottom: -0.2rem;
        }
    }

    & input{
        width: 40rem;
        height: 5.5rem;
        font-size: 1.4rem;
        font-weight: 300;
        padding: 0.22rem 1rem;
        color: rgba(255, 255, 255, 0.849);
        background-color: rgb(31, 28, 24);
        border: 0.09rem solid rgba(161, 158, 158,0.6);
        margin-right: 0.4rem;
        letter-spacing: 0.04rem;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }

    & ::placeholder{
        color: rgba(255, 255, 255, 0.849);
    }
}


@media screen and (max-width:1280px) {
    .main nav{
        width: 94%;
    }
}

@media screen and (max-width:960px) {
    .main {
        
        height: 53%;

        & nav{
            width: 94%;
            padding-top: 3%;

            & .logo {
                width: 35%;
        
                & img{
                    width: 28%;
                }
            }
        }
    }

    .box{
        height: 56.6%;
    }

    .hero{
        margin: 0 auto;
        width: 70vw;
        height: 50vh;
    
        & > :first-child{
            font-size: 3rem;
            font-weight: 700;
        }
        & > :nth-child(2){
            font-size: 1.8rem;
        }
        & > :nth-child(3){
            font-size: 1.6rem;
        }
    }
    

    .btns-nav{

        & .btn-english{
            padding: 0.3rem 2rem;
        }

        & .btn-signin{
            padding: 0.2rem 1.2rem;
        }
    }

    .main-input{
        width: 80%;
            & .btn-getstarted{
                padding: 1.1rem 1.5rem;
                white-space: nowrap;
            }
        }
}

@media screen and (max-width:600px) {
    
    .main {
        
        height: 53%;

        & nav{

            & .logo {
                width: 10rem;
        
                & img{
                    width: 8rem;
                }
            }

            & .btns-nav{

                & .btn-english{
                    padding: 0.3rem 2rem;
                    width: rem;
                }
            }
        }
    }

    .box{
        height: 55.4vh;
    }

    .hero{
        margin: 0 auto;
        width: 90vw;

    }
    
    .main-input{
        flex-direction: column;
        gap: 2rem;

        & input{
            width: 100%;
            height: 5rem;
        }

        & .btn-getstarted{
            font-size: 1.8rem;;
        }
    }
}


@media screen and (max-width:307px) {
    
    .main {
        
        height: 68vh;

        & nav{
            padding-top: 2rem;
            padding-left: 2rem;
            flex-direction: column;
            align-items: start;

            & .logo {
                width: 10rem;
        
                & img{
                    width: 9rem;
                }
            }

            & .btns-nav{

                & .btn-english{
                    padding: 0.3rem 2rem;
                    width: rem;
                }
            }
        }
    }

    .box{
        height: 68vh;
    }

    .hero{
        margin: 0 auto;
        width: 74vw;
        height: 58vh;

        & > :nth-child(2){
            font-size: 1.6rem;
        }
        & > :nth-child(3){
            width: 12em;
            font-size: 1.6rem;
        }

    }
    
    .main-input{
        flex-direction: column;
        gap: 2rem;

        & input{
            width: 100%;
            height: 5rem;
        }

        & .btn-getstarted{
            font-size: 1.8rem;;
        }
    }
}
